<% present section do |presenter| %>

<div class="section hover">
  <%= presenter.tags %>
  <%= presenter.actions :view, :edit, :delete %>
  <%= presenter.content %>
  <%= presenter.actions :view, :edit, :delete %>
</div>

<% end %>
