$blue: #4B7399
$canvascolour: #eee

body
  font-family: "Lucida Grande",arial,helvetica,sans-serif
  background: $canvascolour

a
  text-decoration: none 
  color: $blue
  text-shadow: 1px 1px 1px #aaa
  &:hover
    color: #eee
    text-shadow: 1px 1px 1px $blue 

div.clear
  clear: both
  height: 0
  overflow: hidden

ul
  padding-left: 0

.hover
  &:hover
    background: #eee

.title
  font-size: 18px

.columns
  .column
    width: 400px
    float: left

//specific layout

$full_width: 1000px
#full_container
  position: relative
  width: $full_width
  margin: 0 auto
  background: white

#flash_container
  padding: 10px 0
  height: 43px
  background: $canvascolour 
  div
    padding: 12px 12px 12px 45px
    background:
      position: 10px 9px
      repeat: no-repeat
    color: white
    font:
      size: 16px
      weight: bold
    &.notice
      background:
        image: image-url("notification_check.png")
        color: #006302

#main_container
  width: $full_width - 2px
  background: white
  position: absolute
  top: 89px
  left: 0
  border:
    left: 1px solid black
    right: 1px solid black
    bottom: 1px solid black

div.section, div.post
  padding: 10px
  border: 1px solid white

form
  div
    label
      display: block
    textarea
      width: 1000px
      height: 400px

ul
  margin-left: 15px

ul.inline
  list-style: none
  margin-left: 0
  li
    display: inline
    font-style: italic

div.actions
  font-size: 12px

.tags.cloud
  width: 400px
  line-height: 1.6em
  .s
    font-size: 0.8em
  .m
    font-size: 1.2em
  .l
    font-size: 1.8em
