<header>
  <nav>
    <ul>
      <li><%= link_to pl(:post), posts_path %></li>
      <li><%= link_to pl(:section), sections_path %></li>
      <li><%= link_to pl(:tag), tags_path %></li>
    </ul>
  </nav>
</header>
